<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{title}}</title>
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/hogan.js/3.0.2/hogan.min.js"></script>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <header id="header">
    <a href="./"><h1 id="header-title">{{header}}</h1></a>
    <nav id="header-nav">
      <a class="animation-bracket" href="./">Home</a>
      <a class="animation-bracket" href="archives.html">Archives</a>
      <a class="animation-bracket" href="articles/about.html">About</a>
    </nav>
  </header>
  <main>
    <div id="article-wrap"></div>
    <div id="info-wrap">
      <noscript>Enable <span style="color:black;font-weight:bold;">Javascript</span> please... QwQ</noscript>
      <span class="fa fa-cog fa-spin" id="info-loading" style="display:none"></span>
      <span id="info-nomore" style="display:none">No More QAQ</span>
      <span id="info-loadfail" style="display:none">Load Failed. Orz</span>
      <a id="info-btn-load" href="javascript:void(0)" style="display:none">——More——</a>
    </div>
  </main>
  <footer id="footer">
    <p>{{&footer}}</p>
  </footer>
  {{=<% %>=}}
  <script id="template-article" type="text/mustache">
    <article class="article animation-pop">
      <div style="display:inline-block;min-width=20em;">
        <h1 class="article-title" style="display: inline-block;">
          <a href="articles/{{filename}}" target="_blank">{{title}}</a>
        </h1>
        <time class="article-date" datetime="{{time}}" itemprop="datePublished" title="{{timedetail}}">
          <span class="fa fa-calendar-o"></span> {{timesimple}}
        </time>
      </div>
      <ul class="tags" style="float:right;margin-top:1.5em;">
        {{#tags}}
          <li><a href="archives.html#{{.}}&">{{.}}</a></li>
        {{/tags}}
      </ul>
    </article>
  </script>
  <%={{ }}=%>
  <script>
    var arr_month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var number_of_articles_per_page, articles = [], articles_last = [], article_renderer;
    var to_simple_date = function(date) {
      return arr_month[date.getMonth()] + ' ' + date.getDate();
    }
    var load_page = function() {
      var i = number_of_articles_per_page;
      while(i > 0 && articles_last.length > 0)
      {
        var cur = articles_last.pop();
        cur.timesimple = function() {
          return to_simple_date(new Date(this.time));
        };
        cur.timedetail = function() {
          return (new Date(this.time)).toLocaleString() + '\n' + this.time;
        };
        $('#article-wrap').append(article_renderer.render(cur));
        i--;
      }
      if(articles_last.length === 0) {
        $('#info-btn-load').hide();
        $('#info-nomore').show();
      }
      else
        $('#info-btn-load').show();
    }
    function find_str(s1, s2) {
      return s1.toLowerCase().indexOf(s2.toLowerCase()) !== -1;
    }
    function do_search() {
      var t = location.hash.replace('#', '').split('&'), strs = [];
      t[0] = t[0].toLowerCase();
      if(t[1])
        strs = t[1].split(/\s+/);
      articles_last = articles.filter(function(cur) {
        return (t[0].length === 0 || cur.tags.some(function(tag) {
          return tag.toLowerCase() === t[0];
        })) && strs.every(function(str) {
          return find_str(cur.title, str) ||
                 find_str(cur.brief, str) ||
                 cur.tags.some(function(tag) {
                   return find_str(tag, str);
                 });
        });
      });

      $('#article-wrap').html('');
      load_page();
    }

    $(function() {
      $('#info-loading').show();
      $('#info-btn-load').mousedown(load_page);
      $.getJSON('main.json', function(data) {
        article_renderer = Hogan.compile($('#template-article').html());
        number_of_articles_per_page = data.number_of_articles_per_page;
        articles = data.articles;
        window.onhashchange = do_search;
        $('#info-loading').fadeOut('fast', do_search);
      }).fail(function() {
        $('#info-loading').fadeOut('fast');
        $('#info-loadfail').slideDown('fast');
      });
    });
  </script>
</body>

</html>
