/* global */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
}
div,p,nav,header,main,footer,span,time,article{
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit; 
}
html {
  font: 16px/1.5em "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}
body {/* stiky footer */
  position: relative;
  min-height: 100%;
  padding-bottom: 5em;
  box-sizing: border-box;
  background: #eee;
}
a {
  text-decoration: none;
  outline-width: 0;
  outline: none;
  color: #29d;
}
code {
  margin: .3em;
  padding: 1px 3px;
  font-family: Consolas, Monaco, monospace;
  font-size: .95em;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: .3em;
  background: #eee;
}
pre {
  font-family: Consolas, Monaco, monospace;
  font-size: .95em;
  word-wrap: break-word;
}
.invisible { visibility: hidden; }


/* animations */
.animation-bracket:before,   /* animation-bracket */
.animation-bracket:after {
	display: inline-block;
	transition: all .25s;
	opacity: 0;
}
.animation-bracket:before {
	margin-right: .5em;
	content: '<';
	transform: translateX(1em);
}
.animation-bracket:after {
	margin-left: .5em;
	content: '>';
	transform: translateX(-1em);
}
.animation-bracket:hover:before,
.animation-bracket:hover:after {
  transform: translateX(0);
  opacity: 1;
}
@keyframes animation-pop {    /* animation-pop */
  0% {
    transform: scale(1);
    opacity: 0;
  }
  60% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animation-pop { animation: animation-pop .6s ease-in-out; }


/* header */
#header {
  padding-top: 6em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #222;
  box-shadow: 0 .2em .3em rgba(0,0,0,.4);
}
#header-title {
  display: inline-block;
  padding: 0.5em;
  font-size: 2em;
  color: #fff;
  border-radius: 0.3em;
  background: rgba(192,192,192,0.5);
  transition: text-shadow .3s;
}
#header-title:hover { text-shadow: #fff 0 0 .3em; }
#header-nav {
  margin-top: 4.5em;
  text-align: left;
  margin-left: 2em;
}
#header-nav a { color: #fff; }


/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5em;
  color: rgba(238,238,238,0.5);
  background-color: #222;
}
#footer > p {
  margin: 1.5em 2em;
  font-size: .75em;
}


/* article */
#article-wrap {
  margin: 1em 2em;
}
.article {
  margin: 2em 0;
  display: block;
  border-radius: 3px;
  box-shadow: .1em .2em .3em rgba(0,0,0,.2);
  background-color: #fff;
}
.article-date {
  margin-top: 1.3em;
  margin-right: 1.5em;
  float: right;
  color: #999;
  cursor: default;
}
.article-date span { margin: .5em; }
.article-title {
  margin: 0;
  padding: .727em;
  font-weight: bold;
  font-size: 1.65em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  border-left: 5px solid #222;
  border-top-left-radius: 3px;
}
.article-title a {
  color: inherit;
  transition: color .2s ease-in;
}
.article-title a:hover {
  color: #555;
}
.article-inner {
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #444;
}
.article-inner > ol, .article-inner > ul {
  padding: inherit;
}
.article-inner p {
  margin-bottom: 1em;
}
.article > footer {
  margin: 1em 0 0;
  padding: .5em 1em .5em;
  display: block;
  border-top: 1px dashed #ddd;
}


/* information section */
#info-wrap {
  margin-bottom: 2em;
  text-align: center;
}
#info-wrap > * {
  text-shadow: 1px 1px #fff;
  color: #aaa;
}


/* tags */
ul.tags > li {
  display: inline-block;
  list-style: none;
}
.tags > li > a {
  padding-right: 1em;
  color: #555;
  transition: color .15s ease-out;
}
.tags > li > a:before {
  padding-left: .5em;
  margin-right: .3em;
  display: inline-block;
  content: "\f02b";
  font-family: FontAwesome;
  transition: transform .2s;
}
.tags > li > a:hover {
  color: #000;
}
.tags > li > a:hover:before {
  transform: rotate(-10deg) translate(.03em,0);
}
